<mat-card class="edit-panel mat-elevation-z2">
  <!-- <button mat-icon-button matTooltip="Clear" (click)="onClearClick($event)">
    <mat-icon>clear</mat-icon>
  </button> -->
  <button mat-raised-button matTooltip="Return to original condition" (click)="onClearClick($event)">
    <mat-icon>clear</mat-icon> Clear all
  </button>

  <button mat-raised-button
    matTooltip="Lines сolor"
    (click)="lineColorPicker.click()"
    [ngStyle]="{ 'backgroundColor': linePaletteBackgroundColor }"
  >
    <mat-icon [ngStyle]="{ 'color': lineColor }">color_lens</mat-icon>
    <input #lineColorPicker class="hidden-input" matInput type="color" (input)="onLinesColorChanged($event)">
    Line color
  </button>

  <button mat-raised-button
    matTooltip="Text сolor"
    (click)="textColorPicker.click()"
    [ngStyle]="{ 'backgroundColor': textPaletteBackgroundColor }"
  >
    <mat-icon [ngStyle]="{ 'color': textColor }">color_lens</mat-icon>
    <input #textColorPicker class="hidden-input" matInput type="color" (input)="onTextColorChanged($event)">
    Text color
  </button>

  <button mat-raised-button matTooltip="Zoom In" (click)="onZoomInClick($event)">
    <mat-icon>zoom_in</mat-icon> Zoom In
  </button>

  <button mat-raised-button matTooltip="Zoom Out" (click)="onZoomOutClick($event)">
    <mat-icon>zoom_out</mat-icon> Zoom Out
  </button>
</mat-card>
