:host {
  display: flex;
  margin: 0 .7em;
  align-items: baseline;
}

.edit-panel {
  display: flex;
  flex-direction: column;

  button {
    display: flex;
    justify-content: left;
    margin: .5em 0;
  }
}

.hidden-input {
  display: none;
}

button {
  background-color: WhiteSmoke;
  margin: .15em;
}
