<mat-card class="edit-panel">
  <button mat-icon-button matTooltip="Clear" (click)="onClearClick($event)">
    <mat-icon>clear</mat-icon>
  </button>

  <button mat-icon-button
    matTooltip="Сolor selection"
    (click)="colorPicker.click()"
    [ngStyle]="{ 'backgroundColor': paletteBackgroundColor }"
  >
    <mat-icon [ngStyle]="{ 'color': paletteColor }">color_lens</mat-icon>
    <input #colorPicker class="hidden-input" matInput type="color" (input)="onColorChanged($event)">
  </button>

  <button mat-icon-button matTooltip="Zoom In" (click)="onZoomInClick($event)">
    <mat-icon>zoom_in</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Zoom Out" (click)="onZoomOutClick($event)">
    <mat-icon>zoom_out</mat-icon>
  </button>
</mat-card>
