:host {
  display: flex;
  margin: 0 .7em;
  align-items: baseline;
}

.view-mode-section {
  display: flex;
  flex-direction: column;
  margin-top: .5em;
  font-size: 15px;
  font-weight: 500;

  .view-mode-section-buttons {
    display: flex;
    flex-direction: column;
  }
}

.edit-panel {
  display: flex;
  flex-direction: column;

  button {
    display: flex;
    justify-content: left;
    margin: .5em 0;
  }
}

.hidden-input {
  display: none;
}

button {
  background-color: WhiteSmoke;
  margin: .15em;
}
