<div>
    <ul class="list">
        <li *ngFor="let item of items">
            <img src="{{ item.thumb }}" (click)="setPicture(item)" width="100" alt=""/>
        </li>
    </ul>
</div>
<div class="editor">

  <app-edit-panel
    *ngIf="currentPicture"
    [paletteColor]="userColor"
    (clearClick)="onClearClick($event)"
    (colorChanged)="onColorChanged($event)"></app-edit-panel>

  <div class="container">
    <div #imgArea></div>
    <div #drowingArea></div>
  </div>

  <app-exif-info
    class="info"
    *ngIf="currentPicture"
    [picture]="currentPicture"></app-exif-info>

</div>

