.list {
  list-style-type: none;
  display: flex;
  min-width: 800px;
  overflow-x: auto;
  li {
    margin: 3px;
  }
}

.editor {
  display: flex;

  app-edit-panel, .container, .info {
    padding-left: .5em;
  }
}

.container {
  height: 400px;
  width: 600px;

  div {
    position: absolute;
  }
}
