.list {
  list-style-type: none;
  display: flex;
  width: 800px;
  overflow-x: scroll;
}
.list li {
  margin: 3px;
}
#container, #svg, .container {
  position: absolute;
  top: 150px;
  left: 0;
}
.info {
  position: absolute;
  top: 150px;
  left: 650px;
}
