<div>
    <ul class="list">
        <li *ngFor="let item of items">
            <img src="{{ item.thumb }}" (click)="setPicture(item)" width="100" alt=""/>
        </li>
    </ul>
</div>
<div class="editor">

  <app-edit-panel
    *ngIf="currentPicture"
    [paletteColor]="userColor"
    [paletteTextColor]="userTextColor"
    [figureType] = "figureType"
    (clearClick)="onClearClick($event)"
    (figureChanged)="onFigureChanged($event)"
    (colorChanged)="onColorChanged($event)"
    (colorTextChanged)="onColorTextChanged($event)"></app-edit-panel>

  <div class="container">
    <div #imgArea></div>
    <div #drawingArea></div>
  </div>

  <div class="infos">
    <app-exif-info
      class="info"
      *ngIf="currentPicture"
      [picture]="currentPicture"></app-exif-info>
    <app-measures-info
      class="info"
      *ngIf="currentPicture"
      [picture]="currentPicture"></app-measures-info>
  </div>
    
</div>

