<div *ngIf="!currentPicture">Loading...</div>

<app-select-photo
  [items]="pictureObjects"
  (itemSelected)="onPictureChanged($event)"
></app-select-photo>

<div class="editor-container">
  <app-edit-panel
    *ngIf="currentPicture"
    [lineColor]="userLineColor"
    [textColor]="userTextColor"
    (clearClick)="onClearClick($event)"
    (lineColorChanged)="onLineColorChanged($event)"
    (textColorChanged)="onTextColorChanged($event)"
    (zoomInClick)="onZoomInClick($event)"
    (zoomOutClick)="onZoomOutClick($event)"></app-edit-panel>

  <app-drawing-area
    *ngIf="currentPicture"
    [lineColor]="userLineColor"
    [textColor]="userTextColor"
    [zoomScorer]="zoomScorer"
    [clearTrigger]="clearTrigger"
    [background]="currentPicture"></app-drawing-area>
</div>
